<div class="row" style="margin-left: 5px; margin-bottom: 10px;">
    <dx-data-grid class="dx-card wide-card"
            [dataSource]="details"
            [showBorders]="false"
            [focusedRowEnabled]="true"
            [focusedRowIndex]="0"
            [columnAutoWidth]="true"
            [columnHidingEnabled]="true"
            [rowAlternationEnabled]="true"
            keyExpr="agence">

            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel [width]="240" [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

            <dxi-column
                dataField="agence"
                caption="Agence"
                [hidingPriority]="8">
            </dxi-column>

            <dxi-column
                dataField="chiffreAffaire"
                caption="Chiffre Affaire"
                [hidingPriority]="6">
            </dxi-column>

            <dxi-column
                dataField="marge"
                caption="Marge"
                [hidingPriority]="6">
            </dxi-column>
            
    </dx-data-grid>
</div>